@page
@model BeautyShop.Pages.Visit.ListModel
@{
    ViewData["Title"] = "List";
    var x = 1;
    var y = 1;
}

<h1>List of Visits</h1>

@if (Model.Message2 != null)
{
    <div class="alert alert-success">@Model.Message2</div>
}

<a style="margin:3% auto" class="btn btn-success" asp-page="./Shop">Shop Now</a>
<form method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by Customer" asp-for="SearchName">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Membership Type</th>
                            <th scope="col">Pay</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var visit in Model.Visits)
                        {
                            <tr>
                                <td>@x</td>
                                <td>@visit.Customer.Name</td>
                                <td>@visit.Customer.Membership?.Type</td>
                                <td>$ @visit.Pay</td>
                            </tr>
                            x++;
                        }
                    </tbody>
                    <tfoot style="visibility:@(Model.Visits.Any()?"hidden":"visible")">
                        <tr>
                            <td colspan="4" class="alert alert-danger">There are no visits!</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-sm-6" style="visibility:@(Model.Visits.Any()?"visible":"hidden")">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Membership Type</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var visit in Model.Visits.GroupBy(x => x.Customer.Id))
                        {
                            <tr>
                                <td>@y</td>
                                <td>@visit.First().Customer.Name</td>
                                <td>@visit.First().Customer.Membership?.Type</td>
                                <td>$ @visit.Sum(x => x.Pay)</td>
                            </tr>
                            y++;
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">Total Pay By Customer</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
</form>
